.login-page {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color: #f4f4;
}

.login-header {

}

.yosmite-image {

}

.username-subhead{

}

.username-section {

}
.password-section {

}

.login-button {

}

.signup-button {

}