
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Poppins:wght@300;500;600;700;800&display=swap');

// Primary font stack (sans-serif-based), for most UI elements
$primary-font-stack: 'Merriweather Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
	Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
// Secondary font stack (also sans-serif), for headings, buttons, and labels
$secondary-font-stack: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
	Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


// button {
// 	display: flex;
// 	align-items: center;
// 	flex-grow: 0;
// 	flex-shrink: 0;
// 	height: 3rem;
// 	padding-inline: 30rem;
//     width: 30%;

// 	border-radius: 6rem;
// 	border: none;
// 	outline: none;
	
// 	background: white;
// 	color: rgba(22, 21, 21, 0.8);
// 	cursor: pointer;

// 	font-family: $secondary-font-stack;
// 	font-weight: 800;
// 	font-size: 1rem;
// 	line-height: 1rem;
// 	letter-spacing: 0.015em;

// 	transition: filter 100ms linear;

// 	&.icon-button {
// 		display: inline-flex;

// 		padding: 0;
// 		width: 48rem;

// 		justify-content: center;
// 		align-items: center;
// 	}

	// &:hover,
	// &:focus {
	// 	filter: brightness(0.9);
  //   background-color: aqua; //i did a thing
	// }
	// &:active {
	// 	filter: brightness(0.8);
	// }
// }

.login-page {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-top: 50px;
    height: 100vh;
    background-image: url('https://4kwallpapers.com/images/wallpapers/os-x-yosemite-half-dome-yosemite-national-park-yosemite-4480x2520-4047.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.login-header {
    font-size: 2rem;
    font-weight: bold;
    // margin-bottom: 1rem;
    text-align: center;

}

.alpaca-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

// .yosemite-image {
//     width: 25rem;
//     // height: auto
// }

.username-subhead{
    font-size: 1.75rem;
    font-weight: bold;

}

.username-section {
    margin-bottom: 1rem;
    input {
        width: 93%;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid #ccc;
        font-size: 1.2rem;
        font-family: Arial, sans-serif;
        width: 93%;
      }
}
.password-section {
    margin-bottom: 1rem;
    input {
        width: 93%;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid #ccc;
        font-size: 1.2rem;
        font-family: Arial, sans-serif;
        width: 93%;
      }
}

.login-button {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.signup-button {
    margin-top: 2rem;
    text-align: center;
    

    //   background-color: gray; /* Green */
      border: none;
      color: white;
      padding: 0.5rem 1rem;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 1rem;
      cursor: pointer;
      border-radius: 5px;

    
    button:hover {
      background-color: #3e8e41;
    }
}
//##############################
// .category-button {

//   background-color:orange;
//   width:1000px;
//   padding:0px;
//   align-content: center;
//   justify-content: center;
//   width:fit-content;

// }