
.login-page {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 100vh;
    background-image: url('https://4kwallpapers.com/images/wallpapers/os-x-yosemite-half-dome-yosemite-national-park-yosemite-4480x2520-4047.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.login-header {
    font-size: 2rem;
    font-weight: bold;
    // margin-bottom: 1rem;
    text-align: center;

}

.alpaca-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

// .yosemite-image {
//     width: 25rem;
//     // height: auto
// }

.username-subhead{
    font-size: 1.75rem;
    font-weight: bold;

}

.username-section {
    margin-bottom: 1rem;
    input {
        width: 100%;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid #ccc;
        font-size: 1.2rem;
        font-family: Arial, sans-serif;
      }
}
.password-section {
    margin-bottom: 1rem;
    input {
        width: 100%;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid #ccc;
        font-size: 1.2rem;
        font-family: Arial, sans-serif;
      }
}

.login-button {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.signup-button {
    margin-top: 2rem;
    text-align: center;
    
    button {
      background-color: gray; /* Green */
      border: none;
      color: white;
      padding: 0.5rem 1rem;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 1rem;
      cursor: pointer;
      border-radius: 5px;
    }
    
    button:hover {
      background-color: #3e8e41;
    }
}